@model PracticeLog

<link href="~/css/stopwatch.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/normalize.css" rel="stylesheet" />

<h2>Practice Log</h2>


<p>Your desired practice time is 30 minutes.</p>
<p>Your average practice time is @ViewBag.Average</p>
<div class="progress bg-white border rounded border-dark" style="margin: 5px;">
    <div class="progress-bar bg-danger" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.Width;">
        @ViewBag.Width
    </div>
</div>

<div class="row shadow-lg mt-4">
    <div class="col col-md-6 mb-3 mt-3 ">
        <div id="start">
            <h4>Stopwatch</h4>
            <div id="counter">
                <div id="hours" class="unit"></div>
                <div class="divider">:</div>
                <div id="minutes" class="unit"></div>
                <div class="divider">:</div>
                <div id="seconds" class="unit"></div>
                <div class="divider">:</div>
                <div id="centiseconds" class="unit"></div>
            </div>
            @*Original buttons:*@
            <div id="actions">
                <a href="#start" class="btn"><i class="fa fa-play"></i></a>
                <a href="#paused" class="btn"><i class="fa fa-pause"></i></a>
                <a href="" class="btn"><i class="fa fa-stop"></i></a>
            </div>
        </div>
    </div>

    <div class="col col-md-6 mb-3 mt-3 " >
        <h4 class="mb-4">Practice Log Controls</h4>
        <form asp-action="Start" method="post">
            <div>

                <input type="hidden" asp-for="PracticeLogID" />
                <input type="hidden" asp-for="PracticeStartTime" />

                <div>
                    <button type="submit" class="btn btn-primary pl-3 pr-3 text-white">
                        Start
                    </button>
                    <a asp-action="Stop" asp-controller="PracticeLog"
                       class="btn btn-danger pl-3 pr-3 text-white">Stop</a>
                </div>
            </div>
        </form>
    </div>
    
</div>



    <table class="table table-bordered table-striped table-dark mt-4">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Duration</th>
                <th>Note</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (PracticeLog p in ViewBag.Practices)
            {
                <tr>
                    <td>@p.Date.ToShortDateString()</td>
                    <td>@p.DayOfWeek</td>
                    <td>@p.Duration</td>
                    <td>@p.Note</td>
                    <td></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.PracticeLogID">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@p.PracticeLogID">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



