@model PracticeLog
<h2>Practice Log</h2>

<form asp-action="Start" method="post">
    <div>

        @*<a asp-action="Start" asp-controller="PracticeLog" class="btn btn-primary">Start</a>*@

        <input type="hidden" asp-for="PracticeLogID" />
        <input type="hidden" asp-for="PracticeStartTime" />

        <button type="submit" class="btn btn-primary">Start</button>
        <a asp-action="Stop" asp-controller="PracticeLog" 
           
           class="btn btn-danger">Stop</a>
    </div>
</form>

<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Duration</th>
            <th>Note</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PracticeLog p in ViewBag.Practices)
        {
        <tr>
            <td>@p.Date.ToShortDateString()</td>
            <td>@p.DayOfWeek</td>
            <td>@p.Duration</td>
            <td>@p.Note</td>
            <td></td>
            <td></td>
            <td><a asp-action="Delete" asp-route-id="@p.PracticeLogID">
                   <i class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
