@model PracticeLog

<link href="~/css/stopwatch.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/normalize.css" rel="stylesheet" />

<h2>Practice Log</h2>
<div id="start">
    <div id="counter">
        <div id="hours" class="unit"></div>
        <div class="divider">:</div>
        <div id="minutes" class="unit"></div>
        <div class="divider">:</div>
        <div id="seconds" class="unit"></div>
        <div class="divider">:</div>
        <div id="centiseconds" class="unit"></div>
    </div>
    @*Original buttons:*@
    <div id="actions">
        <a href="#start" class="btn"><i class="fa fa-play"></i></a>
        <a href="#paused" class="btn"><i class="fa fa-pause"></i></a>
        <a href="" class="btn"><i class="fa fa-stop"></i></a>
    </div>

    <form asp-action="Start" method="post">
        <div>

            <input type="hidden" asp-for="PracticeLogID" />
            <input type="hidden" asp-for="PracticeStartTime" />
            @*My buttons. Start submits the practice beginning time to the DB, 
                Stop opens Practice Details page
                I want the Start button to do both - Submit info to the database
                and launch the stopwatch, but I experience some problems with that 
                so more work here has to be done*@
            <div id="actions">
                <button type="submit" class="btn btn-primary">
                    Start
                </button>
                <a asp-action="Stop" asp-controller="PracticeLog"
                   class="btn btn-danger ">Stop</a>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Duration</th>
            <th>Note</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PracticeLog p in ViewBag.Practices)
        {
            <tr>
                <td>@p.Date.ToShortDateString()</td>
                <td>@p.DayOfWeek</td>
                <td>@p.Duration</td>
                <td>@p.Note</td>
                <td></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.PracticeLogID">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@p.PracticeLogID">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
