@model User

@{
    ViewData["Title"] = "Personal Card";
}

    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a asp-action="PersonalInfo"
                                class="close text-right text-white d-none d-sm-inline d-md-none d-lg-none d-xl-none m-3">
                            <span aria-hidden="true">×</span>
                        </a>
                        <img class="img-fluid" src="@ViewBag.ImageDataUrl" />
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 text-center">
                        <div class="row">
                            <div class="col">
                            <a asp-action="PersonalInfo" 
                               class="close text-right text-white d-none d-sm-none d-md-inline d-lg-inline d-xl-inline m-4">
                                <span aria-hidden="true">×</span>
                            </a>
                            </div>
                        </div>
                        <div>
                            <h1 class="text-center">@Model.FullName
                                 
                            </h1>
                        </div>
                        <div>
                            <h3>Student</h3>
                        </div>
                        <div class="form-group">
                            <a asp-controller="Chat" asp-action="Index" class="btn btn-primary m-3 text-white">Message</a>
                            <a @*href="mailto:@Model.Email"*@ class="btn btn-primary text-white">Email</a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Bio</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Bio
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">School</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.School.SchoolName</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Instrument</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Instrument.InstrumentName</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Classes</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.MyClasses</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Age</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Age</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Phone Number</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Phone</p>
                </div>
            </div>
        </div>
    </div>

