<!--Main layout with nav bar and footer-->

@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Vivace Studio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @RenderSection("scripts", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button shadow-sm">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Vivace Studuo</a>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                    <div class="nav navbar-nav mr-auto">

                        <a class="nav-item nav-link @(controller == "Home" && action == "Index" ? "active" : "")"
                           asp-controller="Home" asp-action="Index">Home</a>

                        <a class="nav-item nav-link  @(controller == "Chat" ? "active" : "")"
                           asp-controller="Chat" asp-action="Index">Chat</a>

                        <a class="nav-item nav-link  @(controller == "PracticeLog" ? "active" : "")"
                           asp-controller="PracticeLog" asp-action="Index">Practice Log</a>

                        <a class="nav-item nav-link  @(controller == "Profile" ? "active" : "")"
                           asp-controller="Profile" asp-action="PersonalInfo">My Profile</a>

                        <a class="nav-item nav-link @(controller == "Home" && action == "About" ? "active" : "")"
                           asp-controller="Home" asp-action="About">About</a>
                    </div>
                    <ul class="nav navbar-nav ml-auto">
                        <vc:login-logout user="@User" />
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <my-temp-message/>
             @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <vc:copyright/>
    </footer>
</body>
</html>
